*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navi {
    background-color: #576067;
}
.more,
.foot {
    background-color: #576067;
}
.navi div a {
    transition: 0.4s;
}
.navi div .page:hover {
    background-color: rgb(12, 145, 12);
    
    border-radius: 5rem;
    transform: scale(0.8);
    text-transform: uppercase;
}
.navi div .home:hover {
    color: rgb(248, 249, 250) !important;
}
.navi div .drop:hover {
    background-color: rgb(12, 145, 12);
    
    padding-left: 1.5rem;
    text-transform: uppercase;
}
.slides img {
    filter: brightness(40%);
}
.deal {
    width: 35%;
}
.logo {
    font-size: 6rem;
}
.login,
.signup {
    background-color: #f3f3f3;
}
.login .sign,
.login form {
    outline-style: outset;

}
.signup {
    max-width: 30rem;
}
.signup button {
    outline-style: outset;
}

.login .forget_link:hover {
    text-decoration: underline !important;
    font-weight: bold;
}
.about_intro {
    height: 50vh;
    background-image: url(../media/about-us-page-heading.jpg);
}
.about_intro h1 {
    font-size: 4rem;
}
.about {
    height: auto !important;
}
.image_div {

    min-width: 30rem;
}
.about_content {
    width: 36%;
    min-width: 25rem;
}
.about_content .line{
    height: 0.25rem;
    background-color: #576067;
}
.about_content i {
    width: 3rem;
    transition: 0.6s;
}
.about_content i:hover {
    color: black !important;
    background-color: white !important;
}

@media screen and (max-width: 768px) {
    .deal {
        width: 50%;
        
    }
    .signup_page,
    .login_page {
        height: auto !important;
    }  
}